extends layouts/main

block content
    div(class="px-4 pt-5 my-5 text-center border-bottom" bis_skin_checked="1")
        h1(class="display-4 fw-bold") About World Population Statistics 
        div(class="col-lg-6 mx-auto" bis_skin_checked="1")
            p(class="lead mb-4")
                | This project aims to develop a CRUD application, serving as a user-friendly interface to view a population database.
                | The project should efficiently retrieve and present data from an SQL database.

    div(class="container px-4 py-5" id="featured-3" bis_skin_checked="1")
        h2(class="pb-2") The Group

        div(bis_skin_checked="1")
            div(class="feature col" bis_skin_checked="1")
                div(class="d-flex justify-content-center feature-icon" bis_skin_checked="1")
                figure
                    blockquote(class="blockquote")
                        h2 Sharath Kiritharan

                    figcaption(class="blockquote-footer")
                        | Creator

                a(href="/about/shar/" class="icon-link")
                    | Find out more
                    svg(class="bi" width="1em" height="1em")
                        use(xlink:href="#chevron-right")
        
        div(bis_skin_checked="1")
            div(class="feature col" bis_skin_checked="1")
                div(class="d-flex justify-content-center feature-icon" bis_skin_checked="1")
                figure
                    blockquote(class="blockquote")
                        h2 Roy the DB Admin

                    figcaption(class="blockquote-footer")
                        | End User Persona

                a(href="/about/client2/" class="icon-link")
                    | Find out more
                    svg(class="bi" width="1em" height="1em")
                        use(xlink:href="#chevron-right")

        div(bis_skin_checked="1")
                    div(class="feature col" bis_skin_checked="1")
                        div(class="d-flex justify-content-center feature-icon" bis_skin_checked="1")
                        figure
                            blockquote(class="blockquote")
                                h2 John the Doctor

                            figcaption(class="blockquote-footer")
                                | End User Persona

                    a(href="/about/client" class="icon-link")
                        | Find out more
                        svg(class="bi" width="1em" height="1em")
                            use(xlink:href="#chevron-right")