extends /layouts/about_profile

block name 
    | PERSONA
    p
    | Roy
   
block text 
    div(class="mb-5 text-center")
        |Occupation: Database Admin
        p
        |Location: London
    div(class="mb-5 text-center")
        | Roy is an experienced data administrator. He aims to...
        p
    h1(class="mb-5 text-center")
        |Goals
    div(class="mb-5")
    | - Manage user access and permissions <br>
    | - Handle data updates <br>
    | - Ensure system security <br>
    h1(class="mb-5 text-center")
        |Desires
    div(class="mb-5")
    | - Ability to monitor changes <br>
    | - Communication with users and stakeholders for issues
    h1(class="mb-5 text-center")
        |Frustrations 
    div(class = "mb-5")
    | - Must have clear documentation. <br>
    | - Must be impenetrable. <br>

