extends /layouts/about_profile

block name 
    | PERSONA
    p
    | John
   
block text 
    div(class="mb-5 text-center")
        |Occupation: Doctor
        p
        |Location: London
    div(class="mb-5 text-center")
        |John requires accurate demographic data to inform his
        | medical team, and he is eager to analyse trends in data
        | create insightful reports, and drive important decisions in healthcare.
        p
    h1(class="mb-5 text-center")
        |Goals
    div(class="mb-5")
    | - John needs to learn about population data easily <br>
    | - Create simple reports for presentations <br>
    | - Learn and use the system easily <br>
    h1(class="mb-5 text-center")
        |Desires
    div(class="mb-5")
    | - Minimal jargon <br>
    | - Tooltips to make navigation easier 
    h1(class="mb-5 text-center")
        |Frustrations 
    div(class = "mb-5")
    | - Cannot be slow. <br>
    | - Accuracy <br>
    | - Cannot be visually overwhelming<br>
    h3(class="mb-5 text-center")
        |Current opinion 
    div(class="mb-5 text-center")
        |"So far, I am pleased with current viewer of the database. However, I would prefer if the data was 
        | more secure, and I would like to be able to export this data so that I can use it in reports."
        p


    